<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fe_ai_book">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="로그인"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FE_AI_Book">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".MemberSignUpActivity"
            android:exported="true"
            android:label="@string/signup" />

        <activity
            android:name=".UserInfoActivity"
            android:exported="true" />

        <activity
            android:name=".MyBookRecentActivity"
            android:exported="true"
            android:label="책장 페이지" />

        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:label="도서 검색" />

        <activity
            android:name=".DirectSearchActivity"
            android:exported="true"
            android:label="직접 입력하여 찾기" />

        <activity
            android:name=".AiActivity"
            android:exported="true"
            android:label="AI 추천" />

        <activity
            android:name=".MyBookCategoryActivity"
            android:exported="false"
            android:label="카테고리별 보기" />

        <activity
            android:name=".BookDetailActivity"
            android:exported="false"
            android:label="도서 상세정보" />

        <activity
            android:name=".BarcodeScanActivity"
            android:exported="true" />


<!--        !!!!!!!!!! 임시-->
        <activity android:name=".BarcodeImageTestActivity" />

    </application>

</manifest>
